/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Reset de Estilos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Estilos da Página Inicial */
h1 {
    color: #333;
}
/* Estilos do Menu */
nav {
    background-color: #fff; /* fundo branco */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #d2b48c; /* bege */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffd700; /* dourado */
}

/* Estilos do Ícone do Modo Noturno e Abreviações de Idioma */
.abreviacao-idioma {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

/* Estilos do Modo Noturno */
#modo-noturno {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaçamento à direita do ícone */
}

#modo-noturno:hover {
    color: #ffd700; /* Cor dourada ao passar o mouse */
}


/* Estilos do Logotipo */
#logotipo {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
}

/* Estilos para os Ícones da Font Awesome */
.icon {
    font-size: 20px;
    margin-right: 5px;
}

/* Estilos da Seção Quem Somos */
.quem-somos {
    background-color: #f8f8f8; /* Cor de fundo */
    padding: 40px 0;

   
}

.quem-somos h2 {
    color: #333;
    text-align: center;
}

.quem-somos p {
    color: #666;
    text-align: justify !important;
}




.wrapper {
    display: flex;
    padding: 15px 35px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left top, #e8d9b6, #bfa685);
    width: 100%;
    position: relative;
  }
  
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #1b1b1b; /* Cor de fundo */
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  
  .wrapper i:active {
    transform: translateY(-50%) scale(0.85);
  }
  
  .wrapper i:first-child {
    left: 1px;
  }
  
  .wrapper i:last-child {
    right: 1px;
  }
  
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel .card {
    scroll-snap-align: start;
    height: 270px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 5px;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .carousel .card .img {
    background: #d2b48c; /* Bege */
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  



/* Estilos da Página de Contato /// *//* Estilos da Página de Contato */

/* Estilos da Página de Contato */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container h1 {
    color: #333;
    text-align: center; /* Centraliza o texto */
}

.container p {
    color: #666;
    text-align: center; /* Centraliza o texto */
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input,
textarea {
    width: calc(100% - 20px); /* Largura menor que 100%, considerando o padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical; /* Permitir redimensionamento vertical apenas */
}

button {
    width: 100%; /* Largura 100% para preencher a largura do container */
    padding: 10px;
    background-color: #d2b48c; /* bege */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ffd700; /* dourado */
}







/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    } nav ul {
        margin-top: 15px;
        display: none; /* Inicialmente oculta em telas menores */
    }

    nav li {
        margin: 10px 0;
    }

    .menu-btn {
        display: block; /* Exibe o botão em telas menores */
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
}